<h1>Product</h1>
<a href="product/create" class="btn btn-info la la-plus" role="button"> <i></i> Add Product</a>
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i></i></a>
        </div>

        <div class="card-body">
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.cate}}</td>
                        <td> <img class="card-img-top" src="./uploads/{{this.img}}" alt="Card image cap" style="width:50px; hight: 50px"></td>
                        <td>{{this.des}}</td>
                        <td>{{this.price}}</td>
                        <th>
                            <a href="product/{{this._id}}/edit">Edit</a>
                            <a href="product/{{this._id}}/delete">Delete</a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </ul>
    </div>
</div>